<!DOCTYPE html>
<html ng-app="listaTelefonica">
  <head>
    <title>Lista Telefônica</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css" >
    <style>
      .jumbotron h3 {
          text-align: center;
      }
      .jumbotron {
          width: 400px;
          margin: 20px auto;
          padding: 20px;
      }
      table {
          text-align: left;
          margin-top: 20px;
      }
      .form-control {
          margin-bottom: 10px;
      }
      .selecionado {
          background-color: yellow;
      }
      .negrito {
          font-weight: bold;
      }
    </style>

    <script src="lib/angular/angular.js"></script>
    <script>
      // Conchetes é a lista de módulos que eu quero concatenar
      angular.module("listaTelefonica", []);

      // Definição do meu controller
      angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function ($scope) {
          $scope.app = "Lista Telefônica";

          $scope.contatos = [
              {nome: "Pedro", telefone: "99998888"},
              {nome: "Ana", telefone: "99997777"},
              {nome: "Maria", telefone: "99996666"}
          ];

          $scope.operadoras = [
              {nome: "Oi", codigo: 14},
              {nome: "Vivo", codigo: 15},
              {nome: "Tim", codigo: 41}
          ];

          $scope.adicionarContato = function (contato) {
              $scope.contatos.push(contato);
              delete $scope.contato;
          };

          $scope.apagarContatos = function (contatos) {
              $scope.contatos = contatos.filter(function (contato) {
                  if (!contato.selecionado) {
                      return contato;
                  }
              });
          };

          $scope.isContatoSelecionado = function (contatos) {
              return contatos.some(function (contato) {
                  return contato.selecionado;
              });
          };

          $scope.classe1 = "selecionado";
          $scope.classe2 = "negrito";
      });
    </script>
  </head>
  <body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron">
      <h3>{{app}}</h3>

      <!--table-striped-->
      <table class="table ">
        <tr>
          <th></th>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Operadora</th>
        </tr>
        <tr 
            ng-class="{'selecionado negrito': contato.selecionado}"
            ng-repeat="contato in contatos">
          <td><input type="checkbox" ng-model="contato.selecionado"></td>
          <td>{{contato.nome}}</td>
          <td>{{contato.telefone}}</td>
          <td>{{contato.operadora.nome}}</td>
        </tr>
      </table>

      <hr/>
      <input class="form-control" type="txt" placeholder="Nome"
             ng-model="contato.nome" />
      <input class="form-control" type="txt"  placeholder="Telefone"
             ng-model="contato.telefone" />
      <select class="form-control"
              ng-model="contato.operadora"
              ng-options="operadora.codigo as operadora.nome for operadora in operadoras" >
        <option value="">Selecione uma operadora</option>
      </select>

      <button class="btn btn-primary btn-block" 
              ng-click="adicionarContato(contato);" 
              ng-disabled="!contato.nome || !contato.telefone">Adicionar Contato</button>
      <button class="btn btn-danger btn-block" 
              ng-click="apagarContatos(contatos);"
              ng-disabled="!isContatoSelecionado(contatos)">Apagar Contato</button>
      <div>{{contato}}</div>
      <!--<div>{{contatos}}</div>-->
      <br>
    </div>
  </body>
</html>

